@use "variables";
@use "mixins";
@use "header";
/* Global Styles */
body {
  margin: 0;
  font-family: variables.$font-family;
  color: variables.$text-color-dark;
  background-color: variables.$secondary-color;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: variables.$text-color-light;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: variables.$background-gradient;
  padding: 50px 20px;
  text-align: center;
  color: variables.$text-color-light;
  height: 100vh;
}

#hero h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#hero .btn {
  @include mixins.btn-style(
    variables.$primary-color,
    variables.$text-color-light
  );
}

/* Featured Reviews Section */
#featured-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(
    1deg,
    #353d45,
    variables.$secondary-color
  ); // Add subtle background to separate from other sections
}
#featured-reviews h2 {
  font-size: 2.5em;
  color: variables.$text-color-dark;
  margin-bottom: 30px;
}
.review-card {
  @include mixins.card-style(
    #fff,
    variables.$shadow-light,
    variables.$card-radius
  );
  background: linear-gradient(
    180deg,
    variables.$primary-color,
    variables.$secondary-color
  );
  padding: 20px;
  margin-bottom: 30px;

  h3 {
    font-size: 2em;
    color: variables.$text-color-dark;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1em;
    color: variables.$text-color-muted;
    margin-bottom: 20px;
  }

  .btn {
    @include mixins.btn-style(
      variables.$primary-color,
      variables.$text-color-light
    );
    padding: 10px 20px;
    font-size: 1.1em;
    text-transform: uppercase; // Make the button text uppercase for consistency
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: variables.$secondary-color;
      color: variables.$primary-color;
    }
  }
  &:hover {
    box-shadow: variables.$shadow-hover;
    transform: scale(1.05); // Slightly zoom-in effect on hover
  }
}
@media screen and (max-width: 768px) {
  #featured-reviews {
    padding: 30px 15px;
  }

  .review-card {
    padding: 15px;
  }

  .btn {
    font-size: 1em; // Slightly smaller buttons on mobile
  }
}
#categories {
  height: 100vh;
  padding: 80px 20px;
  background-color: variables.$secondary-color;
  text-align: center;

  h2 {
    font-size: 2.5em;
    color: variables.$text-color-dark;
    margin-bottom: 40px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    ); // Responsive grid layout
    gap: 30px;
    list-style: none;
    padding: 0;

    li {
      background-color: #fff;
      padding: 30px;
      border-radius: variables.$card-radius;
      box-shadow: variables.$shadow-light;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      text-align: center;

      &:hover {
        transform: scale(1.05);
        box-shadow: variables.$shadow-hover;
      }

      a {
        display: block;
        font-size: 1.2em;
        color: variables.$text-color-dark;
        text-decoration: none;
        font-weight: bold;
        margin-top: 20px;
        transition: color 0.3s ease;

        &:hover {
          color: variables.$primary-color;
        }
      }
    }
  }
}
footer {
  padding: 20px;
  background-color: variables.$primary-color;
  text-align: center;
  color: variables.$text-color-light;

  a {
    color: variables.$text-color-light;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;

    &:hover {
      color: variables.$secondary-color;
    }
  }
}
